
/***************************Import Google Fonts*********************************/

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@100&display=swap');

/***************************Common font family**********************************/
    body{
        font-family: 'Work Sans', sans-serif;
        
    }

/***************************Header Styles**********************************/

    .headerContainer{
        background-color: rgba(255, 144, 14, 0.1);
        width: 100%;
    }
    .header{
         display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 228px;
        align-items: center;         
    }
    .headerTitle{
        font-size: 45px;
        font-weight: 700;
        color: #131313;
    }
    nav{
        margin-right: 240px;
    }
    nav a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #131313;
        margin-left: 20px;
    }
    nav a:hover{
        
        background-color: #FF900E;
        color: white;
        border-radius: 5px;
        padding: 10px;
    }
/*****************Responsive Area**********************/

@media only screen and (max-width: 576px) {
        .headermainContainer{
                 background-color: rgba(255, 144, 14, 0.1);
                 width: 100%;
    }    
        .header{
            width: 100%;
            display: flex;
            flex-direction:column;
            margin-left:0;
                    
        }
        .headerTitle{
    
            margin-left: 40px;
        }
        nav{
            width: 80%;
            margin-left: 200px;
            flex-wrap: nowrap;

        }
}
/****************************Banner Area Start******************************/
.bannerContainer{
    width: 100%;
}
.bannerInfo{
   width: 862px;
   margin-left:300px;
   text-align:center;
   margin-top: 117px;
}
.bannerTitle{
    text-align: center;
    font-size: 64px ;
    font-weight: 700;
    color:#131313 ;
}
.bannerDescription{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #727272;
}
.bannerBtn{
    color: #ffff;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 64px;
    margin-top: 32px;
    font-size: 20px;
}
.bannerBtn:hover{
    color: #ffff;
    background-color:black;
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 64px;
    margin-top: 32px;
    font-size: 20px;
}
.bannerImg img{
    margin-left: 240px;
    height: 400px;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 40px;
}


/********************Responsive Area********************/

@media only screen and (max-width: 576px) {
    .headermainContainer{
        width: 100%;
        background-color: rgba(255, 144, 14, 0.1);
    }
    
    .bannerInfo{
            display: flex;
            flex-direction: column;
            width: 100%;  
            margin-left: 10px;

            /* background-color: rgba(255, 144, 14, 0.1); */
        }
        .bannerTitle{

            font-size: 26px;
            font-weight: 700;
            /* text-align: center; */
        }
        .bannerDescription{
            width: 80%;
            margin-left: 40px;
            /* text-align: center; */
        }
    .bannerImg img{
        margin-left: 25px;
        width: 90%;
        height: 200px;
        
    }
    
}



/********************* Teams Container Styles*****************************/
.teamSubContainer{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center ;

}
.teams{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 80px;
    margin-left: 250px;
}
.team img{
    height: 242px;
    width: 242px;
}
.teamInfo{
    width: 568px;
}
.teamTitle{
    color:#727272;
    font-size: 45px;
    font-weight: 600;
    width: 468px;
}
.title2{
    color: #131313;
}
.title3{
    color:#FF900E;
}
.teamDescription{   
    font-size: 16px;
    font-weight: 600;
    color: #727272;
    width: 537px; 
}
/*************Responsive Area**************/
@media only screen and (max-width: 576px) {
        .teamSubContainer{
            display: flex;
            flex-direction: column-reverse;
        }
        .teams{
            width:100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr); 
            justify-content: center;
            margin-left: 40px; 
        }
        .team img{
            width: 80%;
            margin-left: 30px;
        }
        .teamTitle{
            width: 100%;
        }
        .teamInfo{
            width: 80%;
            margin-left: 30px;
        }
        .teamDescription{
            width: 100%;
          
        }
}
/*********************Article Styles*********************/
.articelContainer{
    margin-top: 120px;
    display: flex;
    gap: 54px   ;
    align-items: center;
    margin-left: 140px;
}
.articelSubContainer{
    width: 400px;
    height: 900px;
 
}
article{
    
    margin-bottom: 10px;
    line-height: 20px;
    padding: 5px;   
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 

}
.articel-title{
    font-size: 45px;
    color: #131313;
    font-weight: 600;
    border-left: 3px solid orangered;
    padding-left: 15px;
}
.articleDescription{
    font-size: 16px;
    font-weight: 600;
    color: #727272;
}
.articel-title2{
    font-size: 20px;
    font-weight: 600;
}
.articleImg img{
        height: 882px;
}
.button{
    height: 150px;
    width: 242px;
    background-color: #FF900E;
    color: white;
   text-align: center;
   padding-top: 15px;
   border-radius: 5px;
   transform: translate(550px,-110px);
}
.button:hover{
    background-color: #131313;
    color: wheat;
}
.buttonTitle1{
    font-weight: 700;
    font-size: 35px;
}
.buttonTitle2{
    font-size: 24px;
    font-weight: 600;
}
/***************Responsive***************/
@media only screen and (max-width:576px) {
        .articelContainer{
            flex-direction: column;
            margin-left: 0;
            
        }
        .articelSubContainer{
            width: 90%;
        }
        .articleImg img{
            width: 90%;
            margin-left: 25px;
            margin-top: 150px;
        }
        .button{
            width: 30%;
            transform: translate(235px , -100px);
        }
}
/*******************Some Facts*********************/
.someFacts{
    margin-left: 140px;
    
}
.factsTitle{
    font-size: 45px;
    font-weight: 600;
    width: 258px;
}
.factsDetails{
    width: 542px;
    font-size: 16px;
    font-weight: 600;
}
/******************** Responsive *******************/

@media only screen and (max-width:576px) {
    .someFacts{
        margin-left: 0;
        width: 80%;
    }
    .factsTitle{
        width:90%;
        margin-left: 40px;
    }
    .factsDetails{
        width: 90%;
        margin-left: 40px;
    }
}
/* Promote Area */
.promotes{
   margin-top: 80px;
   display: flex ;
   gap: 30px;
   margin-left: 150px;
   
}
.promote{
  background-color:antiquewhite;
  width: 242px;
  padding: 20px 0;
 
  border-radius: 5px;
  transform: scale(0.75);
}
.promote:hover{
    transform: rotate(30deg);
}
.promote img{
    width: 55px;
    margin-left: 90px;
}
.promoteTitle{
    color: #131313;
    margin-left: 92px;
    font-size: 45px;
    font-weight: 600;
}
.promoteDetails{
    color: #727272;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.promoteTitle2{
    color: #131313;
    margin-left: 69px;
    font-size: 45px;
    font-weight: 600;
}
.promoteTitle3{
    color: #131313;
    margin-left: 82px;
    font-size: 45px;
    font-weight: 600;
}
.promoteTitle4{
    color: #131313;
    margin-left: 62px;
    font-size: 45px;
    font-weight: 600;
}
/**************Responsive*********************/
@media only screen and (max-width:576px) {
    .promotes{
        flex-direction: column;
        margin-left: 100px;
        gap: 10px;
    }
}


/********************Sponsor Area***********************/

.sponsor{
    text-align: center;
}
.sponsorTitle{
    font-size: 45px;
    font-weight: 700;
    }
.sponsorDetails{
    
    font-size: 16px;
    font-weight: 600;
    width: 542px;
    margin-left: 475px;
}
.sponsorImg{
    display: flex;
    gap:80px;
    margin-left: 130px;
    margin-top: 50px;
    filter: grayscale(100%);
}
    /**********Sponsor Area***************/
    @media only screen and (max-width:576px) {
        .sponsorTitle{
            width: 80%;
            margin-left: 20px;
        }
        .sponsorDetails{
            width: 80%;
            margin-left: 20px;
        }
        .sponsorImg{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            /* margin-left: 0; */
        }
    }

    /* ******************CopyRight********************* */
.copyRight{
    background-color: #FFF4E7;
    text-align: center;
    height: 80px;
    width: 1100px;
    margin-left: 150px;
    margin-top: 59px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding-top: 8px;
}
.copyDetails{
    font-size: 18px;
    font-weight: 600;
    color: #131313;
}
/* *************Responsive*************** */
@media only screen and (max-width:576px) {
    .copyRight{
        width: 80%;
        margin-left: 10px;
    }
}
.footerContainer{
    height: 400px;
    text-align: center;
    background-color: #FF900E;
    color: #FFF4E7;
}
.footerTitle{
    font-size: 34px;
    font-weight: 600;
    padding-top: 50px;
    /* margin-left: 300px; */
}
.footerDetails{
    font-size: 18px;
    font-weight: 600;
    width: 544px;
    margin-left: 500px;
}
/* *********Responsive ***************/
@media only screen and (max-width:576px) {
    .footerContainer{
        width: 100%;
    }
    .footerTitle{
        width: 80%;
    }
    .footerDetails{
        width: 80%;
        margin: 20px;
    }
}


